<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.booking">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/doctor"
        android:label="Lekarze"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HairSalonBookingApp">
        <activity android:name="com.example.booking.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.booking.Register"/>
        <activity android:name="com.example.booking.Login"/>
        <activity android:name="com.example.booking.OnBoardingActivity"/>
        <activity android:name="com.example.booking.Home"/>
        <activity android:name="com.example.booking.Appointment"/>
        <activity android:name="com.example.booking.Services"/>
        <activity android:name="com.example.booking.Notification"/>
        <activity android:name="com.example.booking.Doctor"/>
        <activity android:name="com.example.booking.Trends"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>